.title {
    font-size: 30px;
    color: black;
}

.container {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    width: 300px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.groupInput {
   margin: 10px 0px; 
}

.input {
    width: 200px;
    height: 30px;
    border-radius: 5px;
}

.inputRequired {
    border: 2px solid red;
}

.btnGroup {
    display: flex;
    flex-direction: column;
}

.btn {
    width: 150px;
    height: 25px;
    margin-bottom: 5px;
    color: black;
    background-color: white;
    cursor: pointer;
    transition: all 0.5s ease;
}

.btn > span {
    display: flex;
    align-items: center;
}

.btn:hover {
    transform: scale(1.1);
}

.link {
    color: blue;
    text-decoration: dashed;
}


